.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
    &.router-link-active {
        background-color: $blue;
        color: $white;
        border-radius: 3px;
    }
}
