.sales {

    &>.card-body {
        max-height: 90vh;
        overflow-y: scroll;
    }

    &__list {
        padding-left: 0;

        li {
            padding: 5px 0;
            list-style: none;
            font-size: 12px;
        }
    }
}
