// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'item';
@import 'nav';
@import 'sales';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~vue-select/src/scss/vue-select.scss";

[v-cloak] {
    display: none;
}

.card-body {
    h5 {
        border-bottom: 1px solid $gray;
    }
}

.processing {
    padding: 5px;
    text-align: center;
    background-color: red;
    color: white;
}
