<template>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header">Transaction</div>
          <div class="card-body">
            <SalesForm/>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <Sidebar/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");
  }
};
</script>
