<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Items</div>
          <div class="card-body item">
            <ItemList />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showForm: false
    };
  },
  mounted() {
    console.log("Component mounted.");
  },
  methods: {}
};
</script>
