<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <StockList/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
