<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="addItemFormModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addItemFormModalLabel"
    aria-hidden="true"
  >
    <form class="item__form">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addItemFormModalLabel">Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="item">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{'is-invalid': name.error}"
                  id="name"
                  placeholder="e.g. Short Bond Paper - Hard Copy"
                  v-model="name.value"
                >
                <div class="invalid-feedback" v-show="name.error">{{ name.error }}</div>
              </div>

              <div class="form-group">
                <label for="description">Short Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  placeholder="e.g. 70 GSM"
                  :class="{'is-invalid': description.error}"
                  v-model="description.value"
                >
                <div class="invalid-feedback" v-show="description.error">{{ description.error }}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="handleAddItem"
              :disabled="submit.submitting"
            >{{ submit.label }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return this.initialState();
  },
  methods: {
    ...mapActions(["addItem"]),
    initialState() {
      return {
        name: {
          value: "",
          error: ""
        },
        description: {
          value: "",
          error: ""
        },
        submit: {
          label: "SAVE",
          submitting: false
        }
      };
    },
    handleAddItem() {
      const self = this;
      self.tablePreloader = true;
      self.submit.submitting = !self.submit.submitting;
      self.submit.label = self.submit.submitting
        ? "PROCESSING"
        : "ADD NEW ITEM";

      axios
        .post("/item/add", {
          name: self.name.value,
          description: self.description.value
        })
        .then(({ data }) => {
          if (data.success) {
            self.addItem({
              id: data.data.id,
              name: self.name.value,
              description: self.description.value,
              status: true
            });
            Object.assign(self.$data, self.initialState());
            self.$swal("Yes!", "Item was successfully created", "success");
          } else {
            self.$swal(
              "Oh snap!",
              "Unable to process request, please contact your administrator",
              "error"
            );
          }
        })
        .catch(error => {
          console.log("ERROR: ", error);
          if (
            error.hasOwnProperty("response") &&
            error.response.hasOwnProperty("status") &&
            error.response.status == 422
          ) {
            // get first key: {"name": "lorem ipsum"} - returns "name"
            const key = Object.keys(error.response.data.errors)[0];
            self[key].error = error.response.data.errors[key][0];
            $("#" + key)
              .focus()
              .select();
          } else {
            self.$swal(
              "Oh snap!",
              "System error, please contact your administrator",
              "error"
            );
          }
        })
        .finally(function() {
          self.submit.submitting = false;
          self.submit.label = "ADD NEW ITEM";
          self.tablePreloader = false;
        });
    },
    cancelEdit() {
      this.isEdit = false;
    }
  },
  computed: {}
};
</script>
