<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="addServiceFormModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addServiceFormModalLabel"
    aria-hidden="true"
  >
    <form class="item__form">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addServiceFormModalLabel">Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="item">
              <div class="form-group">
                <label for="name">Service Name</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{'is-invalid': name.error}"
                  id="name"
                  placeholder="e.g. Short - Photocopy"
                  v-model="name.value"
                >
                <div class="invalid-feedback" v-show="name.error">{{ name.error }}</div>
              </div>

              <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  placeholder="e.g. 500"
                  :class="{'is-invalid': price.error}"
                  v-model="price.value"
                >
                <div class="invalid-feedback" v-show="price.error">{{ price.error }}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="handleAddService"
              :disabled="submit.submitting"
            >{{ submit.label }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return this.initialState();
  },
  methods: {
    ...mapActions(["addService"]),
    initialState() {
      return {
        name: {
          value: "",
          error: ""
        },
        price: {
          value: "",
          error: ""
        },
        submit: {
          label: "SAVE",
          submitting: false
        }
      };
    },
    handleAddService() {
      const self = this;
      self.tablePreloader = true;
      self.submit.submitting = !self.submit.submitting;
      self.submit.label = self.submit.submitting
        ? "PROCESSING"
        : "ADD NEW ITEM";

      axios
        .post("/services/add", {
          price: self.price.value,
          name: self.name.value
        })
        .then(({ data }) => {
          console.log("DATA: ", data);
          if (data.success) {
            self.addService({
              id: data.data.id,
              name: self.name.value,
              price: self.price.value,
              status: true
            });
            Object.assign(self.$data, self.initialState());
            self.$swal("Yes!", "Item was successfully created", "success");
          } else {
            self.$swal(
              "Oh snap!",
              "Unable to process request, please contact your administrator",
              "error"
            );
          }
        })
        .catch(function(error) {
          console.log("ERROR: ", error);
          if (
            error.hasOwnProperty("response") &&
            error.response.hasOwnProperty("status") &&
            error.response.status == 422
          ) {
            // get first key: {"name": "lorem ipsum"} - returns "name"
            const key = Object.keys(error.response.data.errors)[0];
            self[key].error = error.response.data.errors[key][0];
            $("#" + key)
              .focus()
              .select();
          } else {
            self.$swal(
              "Oh snap!",
              "System error, please contact your administrator",
              "error"
            );
          }
        })
        .finally(function() {
          self.submit.submitting = false;
          self.submit.label = "ADD NEW ITEM";
          self.tablePreloader = false;
        });
    }
  }
};
</script>
