<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="addStockFormModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addStockFormModalLabel"
    aria-hidden="true"
  >
    <form class="item__form">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addStockFormModalLabel">Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="item">
              <div class="form-group">
                <label for="store_name">Store Name</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{'is-invalid': store_name.error}"
                  id="store_name"
                  placeholder="e.g. Short Bond Paper - Hard Copy"
                  v-model="store_name.value"
                >
                <div class="invalid-feedback" v-show="store_name.error">{{ store_name.error }}</div>
              </div>

              <div class="form-group">
                <label for="number_of_items">Number of items</label>
                <input
                  type="number"
                  class="form-control"
                  id="number_of_items"
                  placeholder="e.g. 500"
                  :class="{'is-invalid': number_of_items.error}"
                  v-model="number_of_items.value"
                >
                <div
                  class="invalid-feedback"
                  v-show="number_of_items.error"
                >{{ number_of_items.error }}</div>
              </div>

              <div class="form-group">
                <label for="amount">Amount</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  placeholder="e.g. 210"
                  :class="{'is-invalid': amount.error}"
                  v-model="amount.value"
                >
                <div class="invalid-feedback" v-show="amount.error">{{ amount.error }}</div>
              </div>

              <div class="form-group">
                <label for="price_per_item">Price per item</label>
                <input
                  type="number"
                  class="form-control"
                  id="price_per_item"
                  placeholder="e.g. 2"
                  :class="{'is-invalid': price_per_item.error}"
                  v-model="price_per_item.value"
                >
                <div
                  class="invalid-feedback"
                  v-show="price_per_item.error"
                >{{ price_per_item.error }}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="handleAddStock"
              :disabled="submit.submitting"
            >{{ submit.label }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return this.initialState();
  },
  methods: {
    ...mapActions(["addItem", "addStock"]),
    initialState() {
      return {
        store_name: {
          value: "",
          error: ""
        },
        number_of_items: {
          value: "",
          error: ""
        },
        amount: {
          value: "",
          error: ""
        },
        price_per_item: {
          value: "",
          error: ""
        },
        submit: {
          label: "SAVE",
          submitting: false
        }
      };
    },
    handleAddStock() {
      const self = this;
      self.tablePreloader = true;
      self.submit.submitting = !self.submit.submitting;
      self.submit.label = self.submit.submitting
        ? "PROCESSING"
        : "ADD NEW SERVICE";

      axios
        .post("/stock/add", {
          item_id: self.$route.params.id,
          store_name: self.store_name.value,
          number_of_items: self.number_of_items.value,
          amount: self.amount.value,
          price_per_item: self.price_per_item.value
        })
        .then(({ data }) => {
          if (data.success) {
            self.addStock({
              id: data.data.id,
              item_id: self.$route.params.id,
              store_name: self.store_name.value,
              number_of_items: self.number_of_items.value,
              amount: self.amount.value,
              price_per_item: self.price_per_item.value,
              sold_count: 0
            });
            Object.assign(self.$data, self.initialState());
            self.$swal("Yes!", "Item was successfully created", "success");
          } else {
            self.$swal(
              "Oh snap!",
              "Unable to process request, please contact your administrator",
              "error"
            );
          }
        })
        .catch(function(error) {
          console.log("ERROR: ", error);
          if (
            error.hasOwnProperty("response") &&
            error.response.hasOwnProperty("status") &&
            error.response.status == 422
          ) {
            // get first key: {"name": "lorem ipsum"} - returns "name"
            const key = Object.keys(error.response.data.errors)[0];
            self[key].error = error.response.data.errors[key][0];
            $("#" + key)
              .focus()
              .select();
          } else {
            self.$swal(
              "Oh snap!",
              "System error, please contact your administrator",
              "error"
            );
          }
        })
        .finally(function() {
          self.submit.submitting = false;
          self.submit.label = "ADD NEW ITEM";
          self.tablePreloader = false;
        });
    }
  },
  computed: {}
};
</script>
