<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="editServiceFormModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editServiceFormModalLabel"
    aria-hidden="true"
  >
    <form class="item__form">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editServiceFormModalLabel">Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="item">
              <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" v-model="serviceData.id" disabled>
              </div>

              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{'is-invalid': serviceData.name.error}"
                  id="name"
                  placeholder="e.g. Short Bond Paper - Hard Copy"
                  v-model="serviceData.name.value"
                >
                <div
                  class="invalid-feedback"
                  v-show="serviceData.name.error"
                >{{ serviceData.name.error }}</div>
              </div>

              <div class="form-group">
                <label for="description">Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  placeholder="e.g. 70 GSM"
                  :class="{'is-invalid': serviceData.price.error}"
                  v-model="serviceData.price.value"
                >
                <div
                  class="invalid-feedback"
                  v-show="serviceData.price.error"
                >{{ serviceData.price.error }}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="handleSaveService"
              :disabled="serviceData.submit.submitting"
            >{{ serviceData.submit.label }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: ["serviceData"],
  methods: {
    ...mapActions(["editServiceDetails"]),

    handleSaveService() {
      const self = this;
      self.$emit("save", {
        index: self.serviceData.index,
        id: self.serviceData.id,
        name: self.name,
        price: self.price
      });
    }
  },
  computed: {
    name: {
      get() {
        return this.serviceData.name;
      },
      set(newValue) {
        this.name.value = newValue.value;
        this.name.error = newValue.error;
      }
    },
    price: {
      get() {
        return this.serviceData.price;
      },
      set(newValue) {
        this.price.value = newValue.value;
        this.price.error = newValue.error;
      }
    }
  }
};
</script>
