<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="editItemFormModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editItemFormModalLabel"
    aria-hidden="true"
  >
    <form class="item__form">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editItemFormModalLabel">Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="item">
              <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" v-model="itemData.id" disabled>
              </div>

              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  :class="{'is-invalid': name.error}"
                  id="name"
                  placeholder="e.g. Short Bond Paper - Hard Copy"
                  v-model="itemData.name.value"
                >
                <div class="invalid-feedback" v-show="itemData.name.error">{{ itemData.name.error }}</div>
              </div>

              <div class="form-group">
                <label for="description">Short Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  placeholder="e.g. 70 GSM"
                  :class="{'is-invalid': description.error}"
                  v-model="description.value"
                >
                <div class="invalid-feedback" v-show="description.error">{{ description.error }}</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="handleSaveItem"
              :disabled="itemData.submit.submitting"
            >{{ itemData.submit.label }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: ["itemData"],
  methods: {
    ...mapActions(["editItemDetails"]),

    handleSaveItem() {
      const self = this;
      self.$emit("save", {
        index: self.itemData.index,
        id: self.itemData.id,
        name: self.name,
        description: self.description
      });
    }
  },
  computed: {
    name: {
      get() {
        return this.itemData.name;
      },
      set(newValue) {
        this.name.value = newValue.value;
        this.name.error = newValue.error;
      }
    },
    description: {
      get() {
        return this.itemData.description;
      },
      set(newValue) {
        this.description.value = newValue.value;
        this.description.error = newValue.error;
      }
    }
  }
};
</script>
