<template>
  <div class="mt-3">
    <button
      type="button"
      class="btn btn-light mb-3"
      data-toggle="modal"
      data-target="#addItemFormModal"
    >ADD NEW ITEM</button>

    <EditItemForm :item-data="itemData" @save="handleEdit"/>
    <AddItemForm/>

    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody v-if="items.length > 0">
        <tr v-for="(item, $index) in items" :key="$index">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.status ? 'ENABLED' : 'DISABLED' }}</td>
          <td>
            <a href="#" class="mr-2" @click.prevent="handleRemoveItem(item, $index)">
              <svg
                id="i-trash"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path
                  d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6"
                ></path>
              </svg>
              Delete
            </a>

            <a href="#" class="mr-2" @click.prevent="handleStatusUpdate(item, $index)">
              <span v-if="item.status">
                <svg
                  id="i-ban"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="16"
                  height="16"
                  fill="none"
                  stroke="currentcolor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <circle cx="16" cy="16" r="14"></circle>
                  <path d="M6 6 L26 26"></path>
                </svg> Disable
              </span>
              <span v-else>
                <svg
                  id="i-checkmark"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="16"
                  height="16"
                  fill="none"
                  stroke="currentcolor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <path d="M2 20 L12 28 30 4"></path>
                </svg> Enable
              </span>
            </a>

            <a href="#" class="mr-2" @click.prevent="showEditForm(item, $index)">
              <svg
                id="i-edit"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"></path>
              </svg> Edit
            </a>

            <a href="#" @click.prevent="gotoStocks(item.id)">
              <svg
                id="i-bag"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path d="M5 9 L5 29 27 29 27 9 Z M10 9 C10 9 10 3 16 3 22 3 22 9 22 9"></path>
              </svg> Stocks
            </a>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td align="center" colspan="5">No data found</td>
        </tr>
      </tbody>
    </table>
    <div class="processing" v-show="tablePreloader" v-cloak>PROCESSING...</div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      tablePreloader: false,
      itemData: {
        id: "",
        name: {
          value: "",
          error: ""
        },
        description: {
          value: "",
          error: ""
        },
        submit: {
          label: "SAVE",
          submitting: false
        }
      }
    };
  },
  mounted() {
    this.$nextTick(() => {
      if (this.items.length <= 0) {
        this.fetchItems();
      }
    });
  },
  methods: {
    ...mapActions([
      "setItems",
      "removeItem",
      "updateItemStatus",
      "updateItemDetails"
    ]),
    fetchItems() {
      this.tablePreloader = true;
      axios
        .get("/items")
        .then(({ data }) => {
          console.log("DATA: ", data);
          if (data.data.length) {
            this.setItems(data.data);
          }
        })
        .finally(() => {
          this.tablePreloader = false;
        });
    },
    handleRemoveItem(item, index) {
      const self = this;

      self
        .$swal({
          title: "Are you sure?",
          text: "You can't revert your action",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes Delete it!",
          cancelButtonText: "No, Keep it!",
          showCloseButton: true,
          showLoaderOnConfirm: true
        })
        .then(result => {
          if (result.value) {
            self.tablePreloader = true;
            axios
              .post("/item/delete", {
                id: item.id,
                _method: "DELETE"
              })
              .then(function({ data }) {
                if (data.success) {
                  self.removeItem(index);
                  self.$swal(
                    "Yes!",
                    "Item was successfully removed",
                    "success"
                  );
                } else {
                  self.$swal(
                    "Oh snap!",
                    "There was an error kindly check with your administrator",
                    "error"
                  );
                }
              })
              .catch(function(error) {
                console.log("ERROR:", error);
                self.$swal(
                  "Oh snap!",
                  "System error, please contact your administrator",
                  "error"
                );
              })
              .finally(() => {
                self.tablePreloader = false;
              });
          }
        });
    },
    handleStatusUpdate(item, index) {
      const self = this;

      self
        .$swal({
          title: "Are you sure?",
          text: "This item won't be shown on the list of available items",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes Disable it!",
          cancelButtonText: "No, Keep it enabled!",
          showCloseButton: true,
          showLoaderOnConfirm: true
        })
        .then(result => {
          if (result.value) {
            self.tablePreloader = true;
            axios
              .post("/item/update-status", {
                id: item.id,
                _method: "PUT"
              })
              .then(function({ data }) {
                if (data.success) {
                  const payload = {
                    id: item.id,
                    index: index,
                    status: data.data.status
                  };
                  self.updateItemStatus(payload);
                  self.$swal(
                    "Yes!",
                    "Item status was successfully updated",
                    "success"
                  );
                } else {
                  self.$swal(
                    "Oh snap!",
                    "There was an error kindly check with your administrator",
                    "error"
                  );
                }
              })
              .catch(function(error) {
                console.log("ERROR:", error);
                self.$swal(
                  "Oh snap!",
                  "System error, please contact your administrator",
                  "error"
                );
              })
              .finally(() => {
                self.tablePreloader = false;
              });
          }
        });
    },
    showEditForm(item, index) {
      console.log("ITEM:", item);

      this.itemData.id = item.id;
      this.itemData.index = index;
      this.itemData.name.value = item.name;
      this.itemData.description.value = item.description;

      $("#editItemFormModal").modal({
        keyboard: false
      });
    },
    handleEdit(payload) {
      console.log("EDIT PAYLOAD: ", payload);
      const self = this;
      self.tablePreloader = true;
      self.itemData.submit.submitting = true;
      self.itemData.submit.label = "PROCESSING";

      axios
        .post("item/update-details", {
          id: payload.id,
          name: payload.name.value,
          description: payload.description.value,
          _method: "PUT"
        })
        .then(({ data }) => {
          if (data.success) {
            self.updateItemDetails(payload);
            self.$swal("Yes!", "Item details successfully updated", "success");
          } else {
            self.$swal(
              "Oh snap!",
              "Unable to process request, please contact your administrator",
              "error"
            );
          }
        })
        .catch(error => {
          console.log("ERROR: ", error);
          self.$swal(
            "Oh snap!",
            "System error, please contact your administrator",
            "error"
          );
        })
        .finally(() => {
          self.tablePreloader = false;
          self.itemData.submit.submitting = false;
          self.itemData.submit.label = "SAVE";
        });
    },
    gotoStocks(id) {
      console.log("ITEM ID GOTO STOCKS:", id);
      this.$router.push("/items/" + id + "/stocks");
    }
  },
  computed: {
    ...mapState(["items"])
  }
};
</script>
