<template>
  <div class="mt-3">
    <div class="form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          class="custom-control-input"
          id="product"
          name="income_type"
          value="PRODUCT"
          v-model="income_type"
        >
        <label class="custom-control-label" for="product">PRODUCT</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          class="custom-control-input"
          id="service"
          name="income_type"
          value="SERVICE"
          v-model="income_type"
        >
        <label class="custom-control-label" for="service">SERVICE</label>
      </div>
    </div>

    <div class="form-group" v-if="income_type === 'SERVICE'">
      <label for="service">Service</label>
      <v-select
        :options="enabledServices"
        label="name"
        v-model="service.obj"
        @input="setSelectedService"
        placeholder="Select A Service"
      />
    </div>

    <div class="form-group">
      <label for="item">
        Item
        <span v-show="income_type === 'SERVICE'">Used</span>
      </label>
      <v-select
        :options="enabledItems"
        label="name"
        v-model="item.obj"
        placeholder="Select the item used"
        @input="setSelectedItem"
      />
    </div>

    <div class="form-group">
      <label for="count">Number of items {{ income_type === 'SERVICE' ? 'used' : 'sold' }}</label>
      <input type="text" class="form-control" id="count" v-model="count">
    </div>

    <div class="form-group" v-if="income_type === 'SERVICE'">
      <label for="service_charge">Service charge</label>
      <input type="number" class="form-control" id="service_charge" v-model="service_charge">
    </div>

    <div class="form-group" v-show="income_type === 'SERVICE'">
      <label for="money_received">Money Received</label>
      <input type="number" class="form-control" id="money_received" v-model="money_received">
    </div>

    <div class="form-group" v-show="income_type === 'SERVICE'">
      <label for="change">Change</label>
      <input type="text" class="form-control" disabled v-model="change">
    </div>

    <div class="form-group">
      <button
        type="button"
        class="btn btn-primary"
        @click.prevent="handleSubmitTransaction"
        :disabled="submit.submitting"
      >{{ submit.label }}</button>
    </div>

    <div class="processing" v-show="preloader" v-cloak>PROCESSING...</div>
  </div>
</template>

<script>
/**
 * @TODO: Validation
 */
import { mapActions, mapState, mapGetters } from "vuex";

export default {
  data() {
    return this.initialState();
  },
  mounted() {
    this.$nextTick(() => {
      if (this.services.length <= 0 && this.items.length <= 0) {
        this.fetchItemsAndServices();
      }
    });
  },
  methods: {
    ...mapActions(["setServices", "setItems", "setSales", "addSale"]),
    initialState() {
      return {
        income_type: "SERVICE",
        preloader: false,
        service: {
          id: "",
          obj: null
        },
        item: {
          id: "",
          obj: null
        },
        count: "",
        service_charge: "",
        money_received: "",
        submit: {
          label: "Submit",
          submitting: false
        }
      };
    },
    fetchServices() {
      return axios.get("/services");
    },
    fetchItems() {
      return axios.get("/items");
    },
    fetchSales() {
      return axios.get("/sales");
    },
    fetchItemsAndServices() {
      const self = this;
      self.preloader = true;
      axios
        .all([self.fetchServices(), self.fetchItems(), self.fetchSales()])
        .then(
          axios.spread((svcs, itms, sales) => {
            self.setItems(itms.data.data);
            self.setServices(svcs.data.data);
            self.setSales(sales.data.data);
          })
        )
        .finally(() => {
          self.preloader = false;
        });
    },
    handleSubmitTransaction() {
      this.submit.submitting = true;
      this.submit.label = "PROCESSING";
      axios
        .post("/sales/add", {
          service_id: this.service.id,
          item_id: this.item.id,
          income_type: this.income_type,
          service_charge: this.service_charge,
          number_of_items_sold: this.count
        })
        .then(({ data }) => {
          console.log("TRANSACTION DATA: ", data);
          if (data.success) {
            this.$swal("Yes!", "Transaction successfully processed", "success");
            Object.assign(this.$data, this.initialState());
          } else {
            this.$swal(
              "Oh snap!",
              data.data || "Unable to process request",
              "error"
            );
          }
        })
        .finally(() => {
          this.submit.label = "SUBMIT";
          this.submit.submitting = false;
        });
    },
    setSelectedService(value) {
      this.service.id = value.id;
    },
    setSelectedItem(value) {
      this.item.id = value.id;
    }
  },
  computed: {
    ...mapState(["items", "services", "stocks"]),
    ...mapGetters(["enabledItems", "enabledServices"]),
    change() {
      if (
        this.income_type === "SERVICE" &&
        this.money_received &&
        this.service_charge
      ) {
        return this.money_received - this.service_charge;
      } else if (
        this.income_type === "PRODUCT" &&
        // this.item.obj.price &&
        this.number_of_items
      ) {
        return this.item.obj.price * this.number_of_items;
      } else {
        return 0;
      }
    }
  }
};
</script>
