<template>
  <div class="mt-3">
    <button
      type="button"
      class="btn btn-light mb-3"
      data-toggle="modal"
      data-target="#addServiceFormModal"
    >ADD NEW SERVICE</button>

    <AddServiceForm/>
    <EditServiceForm :service-data="serviceData" @save="handleEdit"/>

    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody v-if="services && services.length > 0">
        <tr v-for="(service, $index) in services" :key="$index">
          <td>{{ service.id }}</td>
          <td>{{ service.name }}</td>
          <td>{{ service.price }}</td>
          <td>{{ service.status ? 'ENABLED' : 'DISABLED' }}</td>
          <td>
            <a href="#" class="mr-2" @click.prevent="handleRemoveService(service, $index)">
              <svg
                id="i-trash"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path
                  d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6"
                ></path>
              </svg>
              Delete
            </a>

            <a href="#" class="mr-2" @click.prevent="handleStatusUpdate(service, $index)">
              <span v-if="service.status">
                <svg
                  id="i-ban"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="16"
                  height="16"
                  fill="none"
                  stroke="currentcolor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <circle cx="16" cy="16" r="14"></circle>
                  <path d="M6 6 L26 26"></path>
                </svg> Disable
              </span>
              <span v-else>
                <svg
                  id="i-checkmark"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="16"
                  height="16"
                  fill="none"
                  stroke="currentcolor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <path d="M2 20 L12 28 30 4"></path>
                </svg> Enable
              </span>
            </a>

            <a href="#" class="mr-2" @click.prevent="showEditForm(service, $index)">
              <svg
                id="i-edit"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"></path>
              </svg> Edit
            </a>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td align="center" colspan="5">No data found</td>
        </tr>
      </tbody>
    </table>
    <div class="processing" v-show="tablePreloader" v-cloak>PROCESSING...</div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      tablePreloader: false,
      serviceData: {
        index: "",
        id: "",
        name: {
          value: "",
          error: ""
        },
        price: {
          value: "",
          error: ""
        },
        submit: {
          label: "SAVE",
          submitting: false
        }
      }
    };
  },
  mounted() {
    this.$nextTick(() => {
      if (this.services.length <= 0) {
        this.fetchServices();
      }
    });
  },
  methods: {
    ...mapActions([
      "setServices",
      "removeService",
      "updateService",
      "updateServiceStatus",
      "updateServiceDetails"
    ]),
    fetchServices() {
      this.tablePreloader = true;
      axios
        .get("/services")
        .then(({ data }) => {
          if (data.data.length) {
            this.setServices(data.data);
          }
        })
        .finally(() => {
          this.tablePreloader = false;
        });
    },

    handleRemoveService(service, index) {
      const self = this;

      self
        .$swal({
          title: "Are you sure?",
          text: "You can't revert your action",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes Delete it!",
          cancelButtonText: "No, Keep it!",
          showCloseButton: true,
          showLoaderOnConfirm: true
        })
        .then(result => {
          if (result.value) {
            self.tablePreloader = true;
            axios
              .post("/services/delete", {
                id: service.id,
                _method: "DELETE"
              })
              .then(({ data }) => {
                if (data.success) {
                  self.removeService(index);
                  self.$swal(
                    "Yes!",
                    "Item was successfully removed",
                    "success"
                  );
                } else {
                  self.$swal(
                    "Oh snap!",
                    "There was an error kindly check with your administrator",
                    "error"
                  );
                }
              })
              .catch(error => {
                console.log("ERROR:", error);
                self.$swal(
                  "Oh snap!",
                  "System error, please contact your administrator",
                  "error"
                );
              })
              .finally(() => {
                self.tablePreloader = false;
              });
          }
        });
    },

    handleStatusUpdate(service, index) {
      const self = this;
      let confrimText =
        "This item will be shown on the list of available items";
      let confirmButtonText = "Yes disable it!";
      let cancelButtonText = "No, Keep it disabled!";

      if (service.status) {
        confrimText = "This item won't be shown on the list of available items";
        confirmButtonText = "Yes disable it!";
        cancelButtonText = "No, Keep it enabled!";
      }

      self
        .$swal({
          title: "Are you sure?",
          text: confrimText,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: confirmButtonText,
          cancelButtonText: cancelButtonText,
          showCloseButton: true,
          showLoaderOnConfirm: true
        })
        .then(result => {
          if (result.value) {
            self.tablePreloader = true;
            axios
              .post("/services/update-status", {
                id: service.id,
                _method: "PUT"
              })
              .then(function({ data }) {
                if (data.success) {
                  const payload = {
                    id: service.id,
                    index: index,
                    status: data.data.status
                  };
                  self.updateServiceStatus(payload);
                  self.$swal(
                    "Yes!",
                    "Service status was successfully updated",
                    "success"
                  );
                } else {
                  self.$swal(
                    "Oh snap!",
                    "There was an error kindly check with your administrator",
                    "error"
                  );
                }
              })
              .catch(function(error) {
                console.log("ERROR:", error);
                self.$swal(
                  "Oh snap!",
                  "System error, please contact your administrator",
                  "error"
                );
              })
              .finally(() => {
                self.tablePreloader = false;
              });
          }
        });
    },

    showEditForm(service, index) {
      console.log("ITEM:", service);

      this.serviceData.id = service.id;
      this.serviceData.index = index;
      this.serviceData.name.value = service.name;
      this.serviceData.price.value = service.price;

      $("#editServiceFormModal").modal({
        keyboard: false
      });
    },

    handleEdit(payload) {
      console.log("EDIT PAYLOAD: ", payload);
      const self = this;
      self.tablePreloader = true;
      self.serviceData.submit.submitting = true;
      self.serviceData.submit.label = "PROCESSING";

      axios
        .post("/services/update-details", {
          id: payload.id,
          name: payload.name.value,
          price: payload.price.value,
          _method: "PUT"
        })
        .then(({ data }) => {
          if (data.success) {
            self.updateServiceDetails(payload);
            self.$swal(
              "Yes!",
              "Service details successfully updated",
              "success"
            );
          } else {
            self.$swal(
              "Oh snap!",
              "Unable to process request, please contact your administrator",
              "error"
            );
          }
        })
        .catch(error => {
          console.log("ERROR: ", error);
          self.$swal(
            "Oh snap!",
            "System error, please contact your administrator",
            "error"
          );
        })
        .finally(() => {
          self.tablePreloader = false;
          self.serviceData.submit.submitting = false;
          self.serviceData.submit.label = "SAVE";
        });
    }
  },
  computed: {
    ...mapState(["services"])
  }
};
</script>
