<template>
  <div class="card sales">
    <div class="card-header">Sales</div>
    <div class="card-body">
      <ul class="sales__list">
        <li
          v-for="(sale, $index) in sales"
          :key="$index"
        >{{ sale.service_id !== null ? '' : sale.number_of_items_sold + ' x ' }} {{ sale.item_name }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  mounted() {
    console.log("Component mounted.");
  },
  computed: {
    ...mapState(["sales"])
  }
};
</script>
