<template>
  <div>
    <div class="card-header">Stocks</div>
    <div class="card-body">
      <div class="item">
        <div class="item__infromation mb-5">
          <h5 class="card-title">Item Information</h5>
          <div class="processing" v-show="processing">PROCESSING</div>
          <div class="card-text" v-cloak>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="id">ID</label>
                  <input type="text" class="form-control" disabled v-model="item.id">
                </div>
                <div class="form-group">
                  <label for="id">Name</label>
                  <input type="text" class="form-control" disabled v-model="item.name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" disabled v-model="item.description">
                </div>
                <div class="form-group">
                  <label>Status</label>
                  <input type="text" class="form-control" disabled v-model="status">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item__stocks">
          <h5>Item Stocks</h5>

          <button type="button" class="btn btn-light mb-3" @click="showAddStockForm">ADD STOCKS</button>

          <AddStockForm/>

          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Store</th>
                <th>Amount</th>
                <th>Price/Item</th>
                <th># Items</th>
                <th>Items Sold</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody v-if="stocks[item.id] && stocks[item.id].length > 0">
              <tr v-for="(stock, $index) in stocks[item.id]" :key="$index">
                <td>{{ stock.id }}</td>
                <td>{{ stock.store_name }}</td>
                <td>{{ stock.amount }}</td>
                <td>{{ stock.price_per_item }}</td>
                <td>{{ stock.number_of_items }}</td>
                <td>
                  {{ stock.sold_count }}
                  <span
                    data-toggle="tooltip"
                    data-placement="left"
                    title="Deletion not allowed"
                    class="ml-3"
                    v-show="stock.sold_count > 0"
                  >
                    <svg
                      id="i-info"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 32 32"
                      width="16"
                      height="16"
                      fill="none"
                      stroke="currentcolor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    >
                      <path d="M16 14 L16 23 M16 8 L16 10"></path>
                      <circle cx="16" cy="16" r="14"></circle>
                    </svg>
                  </span>
                </td>
                <td>
                  <a href="#" class="mr-2" @click.prevent="handleRemoveStock(stock, $index)">
                    <svg
                      id="i-trash"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 32 32"
                      width="16"
                      height="16"
                      fill="none"
                      stroke="currentcolor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    >
                      <path
                        d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6"
                      ></path>
                    </svg>
                    Delete
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td colspan="7" align="center">No data found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      item: {
        id: "",
        name: "",
        description: ""
      },
      processing: false
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.getItemInfo();
    });
  },
  methods: {
    ...mapActions(["setStocks", "removeStock"]),
    getItemInfo() {
      const self = this;
      const itemId = self.$route.params.id;

      self.item.id = itemId;
      self.processing = true;

      axios
        .get("/items/" + itemId + "/stocks")
        .then(({ data }) => {
          if (data.success) {
            const stocks = [];
            stocks[itemId] = data.data.stocks;
            self.setStocks(stocks);
            Object.assign(self.item, data.data);
          } else {
            self.$swal(
              "Oh snap!",
              "Unable to process request, please contact your administrator",
              "error"
            );
          }
        })
        .finally(() => {
          self.processing = false;
        });
    },

    showAddStockForm() {
      $("#addStockFormModal").modal({
        keyboard: false
      });
    },

    handleRemoveStock(stock, index) {
      const self = this;

      self
        .$swal({
          title: "Are you sure?",
          text: "You can't revert your action",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes Delete it!",
          cancelButtonText: "No, Keep it!",
          showCloseButton: true,
          showLoaderOnConfirm: true
        })
        .then(result => {
          if (result.value) {
            self.tablePreloader = true;
            axios
              .post("/stock/delete", {
                id: stock.id,
                _method: "DELETE"
              })
              .then(({ data }) => {
                if (data.success) {
                  self.removeStock({
                    index: index,
                    item_id: self.$route.params.id
                  });
                  self.$swal(
                    "Yes!",
                    "Item was successfully removed",
                    "success"
                  );
                } else {
                  self.$swal(
                    "Oh snap!",
                    data.data ||
                      "There was an error kindly check with your administrator",
                    "error"
                  );
                }
              })
              .catch(function(error) {
                console.log("ERROR:", error);
                self.$swal(
                  "Oh snap!",
                  "System error, please contact your administrator",
                  "error"
                );
              })
              .finally(() => {
                self.tablePreloader = false;
              });
          }
        });
    }
  },
  computed: {
    ...mapState(["stocks"]),
    status() {
      return this.item.status ? "ENABLED" : "DISABLED";
    }
  }
};
</script>