<template>
  <div class="mt-3">
    <!-- <button
      type="button"
      class="btn btn-light mb-3"
      data-toggle="modal"
      data-target="#addServiceFormModal"
      disabled
    >ADD NEW USER</button>-->

    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Account Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody v-if="users && users.length > 0">
        <tr v-for="(user, $index) in users" :key="$index">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.account_type }}</td>
          <td></td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td align="center" colspan="5">No data found</td>
        </tr>
      </tbody>
    </table>
    <div class="processing" v-show="preloader" v-cloak>PROCESSING...</div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      preloader: false,
      users: []
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.fetchUsers();
    });
  },
  methods: {
    fetchUsers() {
      this.preloader = true;
      axios
        .get("/users")
        .then(({ data }) => {
          if (data.data.length) {
            this.users = data.data;
          }
        })
        .catch(error => {
          console.log("ERROR:", error);
          this.$swal(
            "Oh snap!",
            "System error, please contact your administrator",
            "error"
          );
        })
        .finally(() => {
          this.preloader = false;
        });
    }
  }
};
</script>
